body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffeaf4;
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  padding: 100px 20px;
  text-align: center;
}

.home-section {
  color: white;
}

.gallery-section {
  background: #fff0f6;
}

.ending-section {
  background: linear-gradient(135deg, #ffb3c1, #ff758f);
  color: white;
}